// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form{
  margin-top: 30px;
}

#new_link_title{
  width: 500px;
}

#new_link_url{
  width: 500px;
}